!!!5
html
	head
		title #{title} - HCPIN Graph Output
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src="js/cytoscape.js")
		script(src="js/arbor.js")
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/stylesheet.css')
	body
		h1(align="center") UNIPROT Graph

		div(class="button_bar")
			button(id="showListButton") List
			button(id="showGraphButton") Graph
			button(id="showKeggImagesButton") Kegg Pathway Images
			button(id="uniprotLink") View (protein) data
		
		div(id="hcpin_container")	
			div(id="cy")
			div(id="uniprot_data")
				h1(id="uniprot_data_id") ID: n/a
				iframe(id="uniprot_html", src="http://www.uniprot.org/uniprot/P37023")
		ul(id="idList")
		div(id="kegg_container")
		script(type="text/javascript").
			var HCPIN_GRAPH = {};
			HCPIN_GRAPH.nodes = !{nodes};
			HCPIN_GRAPH.edges = !{edges};
			HCPIN_GRAPH.queries = !{queries};
			HCPIN_GRAPH.raw = !{raw};
		script(src="js/load.js")
		script(src="js/graph.js")
